@model List<EGJV.Models.Ticket>
@{
    ViewData["Title"] = "Todos os Tickets";
    ViewData["Controller"] = "Tickets";
    ViewData["Action"] = "Create";
    ViewData["NomeBtn"] = "Abrir Ticket";
}
<div class="row">
    <div class="col-lg-12">
        <table class="table table-striped table-bordered dt-responsive nowrap display" id="dataTables-Assets">
            <thead>
                <tr>
                    <th>Assunto</th>
                    <th>Responsável</th>
                    <th>Data Abertura</th>
                    <th>Previsao para Conclusão</th>
                    <th>Status</th>
                    @if (ViewBag.TUser.Role.RoleId == 1)
                    {
                        <th>#</th>
                    }
                    <th class="text-center" width="10%"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ticket in Model)
                {
                <tr>
                    @if (ViewBag.TUser.Role.RoleId == 1)
                    {
                        <td>@ticket.TicketId</td>
                    }
                    <td>@ticket.Assunto</td>
                    <td>@Html.DisplayFor(modelUser => ticket.TUser.Name)</td>
                    <td>@Html.DisplayFor(modelUser => ticket.DataAbertura)</td>
                    <td>@Html.DisplayFor(modelUser => ticket.PrevisaoConclusao)</td>
                    <td>@ticket.Status</td>
                    <td width="10%">
                        <a class="btn btn-primary glyphicon glyphicon-pencil" asp-area="Admin" asp-controller="Tickets" asp-action="Edit" asp-route-id="@ticket.TicketId"></a>
                        <a class="btn btn-danger glyphicon glyphicon-trash" asp-area="Admin" asp-controller="Tickets" asp-action="Delete" asp-route-id="@ticket.TicketId"></a>
                    </td>

                </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dataTables-Assets').DataTable({
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
                dom: "<'row'<'col-sm-4 hidden-xs'l><'col-sm-4 hidden-xs'B><'col-sm-4'f>> " +
                     "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-5'i><'col-sm-7'p>>",

                buttons: [
                    {
                        extend: 'copyHtml5',
                        text: '<i class="fa fa-files-o"></i>',
                        titleAttr: 'Copiar',
                        exportOptions: {
                            columns: ':visible'
                        },
                    },
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fa fa-file-excel-o"></i>',
                        titleAttr: 'Excel',
                        exportOptions: {
                            columns: ':visible'
                        },
                    },
                    {
                        extend: 'pdfHtml5',
                        text: '<i class="fa fa-file-pdf-o"></i>',
                        titleAttr: 'PDF',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'colvis',
                        text: 'Selecionar Colunas'

                    }

                ],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
                },
                colReorder: true

            });
        });
    </script>

}
