@model SmartGarcom.ViewModels.HomeCompanyVM
@{
    ViewData["Title"] = "Faça seu pedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CSS{
    <link rel="stylesheet" href="~/css/clientorder.css" />
    <link rel="stylesheet" href="~/css/Home.css" />
}


<div class="row" id="restaurante">
    <img id="thumbrestaurante" src="@Model.CompanyImagePath" alt="Imagem do restaurante selecionado" class="img-thumbnail col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
    <div class="col-md-8 col-md-offset-1 col-sm-6 col-xs-12" id="detailrestaurante">
        <h1 id="nomerestaurante">@Model.CompanyName</h1>
        <h2 id="tiporestaurante">Fast food</h2>
        <h3 id="horariorestaurante">08:00 até as 23:00</h3>
    </div>
</div>

<div class="container" id="tabelacont">
    <div class="row">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="col-lg-3">Cardápio</th>
                    <th class="col-lg-2">Preço</th>
                    <th class="col-lg-3">Descrição</th>
                    <th class="col-lg-1">Adicionar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var asset in Model.Assets)
                {
                    <tr>
                        <td>@asset.Name</td>
                        <td>R$ @asset.Price</td>
                        <td>@asset.Description</td>
                        <td style="text-align: center;">
                            <button type="button" class="btn btn-warning" aria-label="Adicionar ao carrinho">
                                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                }
                </tbody>
        </table>
    </div>
</div>



