<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129302941-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-129302941-1');
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EGJV</title>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/navbarpublic.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="https://d1jgln4w9al398.cloudfront.net/site/2.1.238-20181108.27/js/min/library-default.js" type="text/javascript"></script>
    <script src="https://d1jgln4w9al398.cloudfront.net/site/2.1.238-20181108.27/js/min/functions-home.js" type="text/javascript"></script>
    @RenderSection("CSS", required: false)
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">EGJV</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Início</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (ViewBag.TUser == null)
                    {
                        <li><a asp-controller="Auth" asp-action="Login">Login</a> </li>
                    }
                    else
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@ViewBag.TUser.Name <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                @if (ViewBag.TUser != null && ViewBag.TUser.Role.RoleId == 1 || ViewBag.TUser.Role.RoleId == 2)
                                {
                                    <li><a asp-area="Admin" asp-controller="Home" asp-action="Index">Administração</a></li>
                                }
                                <li><a asp-controller="Auth" asp-action="Logout">Sair</a> </li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />
    @RenderBody()
    <footer class="footer">
        <div class="container no-padd">
            <div class="clearfix">
                <div id="text-9" class="col-xs-12 col-sm-6 col-md-3 pull-left">
                    <div class="item-wrap">
                        <h5>Siga nossas redes sociais</h5>			
                    <div class="textwidget">
                            <p>
                                <a href="https://www.facebook.com/egjv" target="_blank" rel="noopener"><img src="~/images/facebook.png" alt="" width="33" height="33"></a>
                                &nbsp;
                                <a href="http://www.instagram.com/egjv" target="_blank" rel="noopener"><img src="~/images/instagram.png" alt="" width="33" height="33"></a>
                                &nbsp;
                                <a href="https://www.twitter.com/egjv" target="_blank" rel="noopener"><img src="~/images/twitter.png" alt="" width="30" height="30"></a>
                                &nbsp;
                                <a href="https://www.linkedin.com/egjv" target="_blank" rel="noopener"><img src="~/images/linkedin.png" alt="" width="32" height="32"></a>
                                &nbsp;
                                <a href="https://wa.me/5547999999999" target="_blank" rel="noopener"><img src="~/images/whatsapp.png" alt="" width="33" height="33"></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 pull-right">
                    <div class="item-wrap">
                        <h5>Fale conosco</h5>			<div class="textwidget">
                            <p><a href="mailto:contato@egjv.com.br">contato@egjv.com.br</a></p>
                            <p><a href="tel:(+5547) 99999.9999">(47) 99999-9999</a></p>
                            <p>Rua Zé do Caixão, 574 - Cemitério</p>
                        </div>
                    </div>
                </div>
                <p class="col-md-8 pull-left" style="padding-top:20px;">© EGJV 2018 - Todos os direitos reservados</p>
            </div>




        </div>
    </footer>

        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" ></script>
    <script src="http://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
